In [9]:
from dotenv import load_dotenv
import os

load_dotenv()

True

In [16]:
from entsoe import EntsoePandasClient
import pandas as pd

entsoe_client = EntsoePandasClient(api_key=os.getenv('ENTSOE_API_KEY'))

df = entsoe_client.query_load_and_forecast(
    country_code="CH", 
    start=pd.Timestamp('2024-01-01 00:00', tz="Europe/Zurich"), 
    end=pd.Timestamp('2024-01-02 00:00', tz="Europe/Zurich"),
)
df.head(5)

                           Forecasted Load  Actual Load
2024-01-01 00:00:00+01:00           7773.0       8036.0
2024-01-01 01:00:00+01:00           7548.0       7692.0
2024-01-01 02:00:00+01:00           7562.0       7867.0
2024-01-01 03:00:00+01:00           7640.0       7934.0
2024-01-01 04:00:00+01:00           7701.0       7718.0